{% extends "base.html" %}

{% block content %}
<body>
<h1>Кто стоит в очереди?</h1>
{% set user_list = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог',
                 'врач', 'инженер по терраформированию', 'климатолог',
                 'специалист по радиационной защите', 'астрогеолог', 'гляциолог',
                 'инжинер жизнеобеспечения', 'метеоролог', 'оператор марсохода',
                 'киберинженер', 'штурман', 'пилот дронов'] %}
{% if param == 'ol' %}
    <ul>
        {% for user in user_list %}
        <div>{{ loop.index }} {{ user }}</div>

        {% endfor %}
    </ul>
{% elif param == 'ul' %}
    <ul>
        {% for user in user_list %}
        <li>{{ user }}
        </li>
        {% endfor %}
    </ul>
{% else %}
 <h2>Неверный параметр</h2>
{% endif %}
</body>
{% endblock %}